<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- | seperated list of field validator ids. Currently "Required" is added below-->
      <setting name="PublishBlockingValidators" value="{59D4EE10-627C-4FD3-A964-61A88B092CBC}"/>
    </settings>
    <pipelines>
      <publishItem>
        <processor patch:before="*[@type='Sitecore.Publishing.Pipelines.PublishItem.DetermineAction, Sitecore.Kernel']"
                   type="SitecoreValidationMessaging.Pipelines.DeterminePublishAction, SitecoreValidationMessaging" />
      </publishItem>
    </pipelines>
    <events timingLevel="custom">
      <event name="item:saved">
        <handler type="SitecoreValidationMessaging.EventHandlers.ItemSavedCheckRequiredFields, SitecoreValidationMessaging" method="OnItemSaved"/>
      </event>
    </events>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.Save.ValidateFields" type="SitecoreValidationMessaging.Speak.ValidateFields, SitecoreValidationMessaging" resolve="true" patch:instead="*[name=ExperienceEditor.Save.ValidateFields]" />
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>